<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <!-- 引入属性文件 -->
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:dbconfig.properties,classpath:loris.properties,classpath:shiro.properties"/>
    
    <!-- 自动扫描dao和service包(自动注入) -->
    <context:component-scan base-package="com.supermarket.yun.platform.slowloris.service"/>
    <context:component-scan base-package="com.supermarket.yun.platform.slowloris.dao"/>
    
    
    <import resource="spring-config-mybatis.xml"/>
    <import resource="spring-config-cache.xml"/>
    <import resource="spring-config-shiro.xml"/>

</beans>